Exploring Lists

In [1]:
values = []

type(values)

list

In [2]:
signals = ["red", "greeen", "ornage"]
numbers = [1,2,3]
dummy_list = ["red", 1, True]

In [3]:
for signal in signals:
  print(signal, end=" ")

red greeen ornage

STRING IS ALSO A LIST

In [4]:
name = "python"
for char in name:
  print(char)

p
y
t
h
o
n

INDXEING IN LISTS

In [5]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [6]:
numbers[0]

1

In [7]:
numbers[-1]

10

In [8]:
numbers[-10]

1

SLICING

In [9]:
#slicing start:end:step

numbers[0:3]

[1, 2, 3]

In [10]:
# print the list in reverse order
numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
# print alternate numbers beginning 0
numbers[::2]

[1, 3, 5, 7, 9]

In [12]:
# Print Alternate numbers begining 1
numbers[1::2]

[2, 4, 6, 8, 10]

In [13]:
# palindrom or not

name = "madam"
if name == name[::-1]:
  print("palindrome")
else:
  print("not a palindrome")

palindrome

In [14]:
# empty list
numbers = []

# add 1 to list at end
numbers.append(1)
print(numbers)

# add 2 to list at end
numbers.append(2)
print(numbers)

# add 0 to list at begining
# syntax: list.insert(postition, value)
numbers.insert(0,0)
print(numbers)

[1]
[1, 2]
[0, 1, 2]